################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/galakh/Globallrn/some.cpp
